.about-us-container{
    display: grid;
    row-gap: 7rem;

    width: 100%;
}

.about-us-container .title_1{
   font-family: var(--second-font);
   font-size: 2rem;
   color: var(--text-color);
   letter-spacing: 1.5px;
   line-height: 2.2rem;
}

.about-us-content{
    display: grid;
    row-gap: 6rem;

    justify-content: center;
    justify-items: center;

    width: 100%;
}

.about-us-mission,.about-us-vision{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 3rem;
    column-gap: 3rem;
    width: 100%;
    justify-content: center;
}
.about-us-mission-item-left{
   
   width: 90%;
   min-width: 250px;
   flex-shrink: 1;
   padding: .9rem 2rem;

   display: flex;
   align-items: center;
   justify-content: left;
}
.about-us-mission-item-left-img{
    width: 50%;
    min-width: 200px;
    }

.about-us-mission-item-right{
    /* flex-grow: 1; */
    flex-shrink: 5;
  width: 90%;
  min-width: 250px;

  display: grid;
  align-items: start;
  align-content: start;
  row-gap: 1.5rem;
  padding: 0 2rem;
}
.about-us-mission-item-right div{
    display: grid;
    row-gap: 2rem;
}
.about-us-mission-item-right div p{
    color: var(--text-color);
    font-size: 1rem;
    font-family: var(--body-font);
    letter-spacing: 1px;
    line-height: 1.2rem;
    word-spacing: 2px;
}

.about-us-mission-item-right_title .title_1{
  font-size: 1.5rem;
}


@media  screen and (min-width:305px){
    .about-us-container .title_1{
       
        font-size: 2.5rem;
        letter-spacing: 1.5px;
        line-height: 2.7rem;
     }


     .about-us-mission-item-right_title .title_1{
        font-size: 2rem;
      }
}

@media  screen and (min-width:550px){
    .about-us-container .title_1{
       
        font-size: 2.5rem;
        letter-spacing: 1.5px;
        line-height: 2.7rem;
     }

     .about-us-mission-item-right_title .title_1{
        font-size: 2rem;
      }
     

     .about-us-mission-item-right_title .title_1{
        font-size: 2rem;
      }
}

@media  screen and (min-width:750px){
    .about-us-container .title_1{
       
        font-size: 2.7rem;
        letter-spacing: 1.5px;
        line-height: 3rem;
     }

     .about-us-mission,.about-us-vision{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        row-gap: 3rem;
        column-gap: 3rem;
        width: 100%;
        justify-content: center;
    }

    .about-us-mission-item-left{
   
        width: 50%;
        min-width: 250px;
        flex-shrink: 1;
        padding: .9rem 2rem;
     
        display: flex;
        align-items: flex-start;
        justify-content: center;
     }
     .about-us-mission-item-left-img{
         max-width: 300px;
         width: 70%;
         min-width: 150px;
         
         }
     
     .about-us-mission-item-right{
         /* flex-grow: 1; */
         flex-shrink: 10;
       width: 40%;
       min-width: 250px;
     
       display: grid;
       align-items: start;
       align-content: start;
       row-gap: 1.5rem;
       padding: 0 2rem;
     }


     .about-us-mission-item-right_title .title_1{
        font-size: 2rem;
      }
}

@media  screen and (min-width:1180px){
    .about-us-container .title_1{
       
        font-size: 3rem;
        letter-spacing: 1.5px;
        line-height: 3.2rem;
     } 

     

     .about-us-mission-item-right_title .title_1{
        font-size: 2rem;
      }
}